
body{
    margin: 0;
    place-items: center;
    color: white;
}



h1{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 600;
    font-style: italic;
    font-size: 20rem;
    
    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.container {
    position: relative;
}

.centered{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
}