*{
    margin: 0;
    padding: 0;
}

body{
    place-items: center;
    color: white;
}

img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 0.2rem;
}

h1{
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 600;
    font-style: italic;
    font-size: 20rem;
    display: inline;
    
    
}

#a {
    color: black;
}

#b {
    color: black;
}
#c {
    color: black;
}

.container {
    position: relative;
}

.centered{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
}